﻿@model Nop.Plugin.Widgets.SsmpNeighborhoodSelect.Models.ConfigurationModel

@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings

@{
    Layout = "_ConfigurePlugin";

    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}

@using Nop.Plugin.Widgets.SsmpNeighborhoodSelect.Helper

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="WidgetsSsmpNeighborhoodSelect" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="GooglePlacesApiKey_OverrideForStore" asp-input="GooglePlacesApiKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="GooglePlacesApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="GooglePlacesApiKey" />
                        <span asp-validation-for="GooglePlacesApiKey"></span>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="panel panel-default">
            <div class="panel-body">
                <div id="neighborhoods-grid"></div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $("#neighborhoods-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("List", "WidgetsSsmpNeighborhoodSelect"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("List", "WidgetsSsmpNeighborhoodSelect"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id"
                                    }
                                },
                                requestEnd: function (e) {
                                    if (e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)],
                                @await Html.PartialAsync("_GridPagerMessages") //a shared page
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [ {
                                field: "NeighborhoodSearchString",
                                width: 200,
                                title: "@T(Constants.Locales.Fields.NeighborhoodSearchStringLabelName)"
                            }, {
                                field: "Neighborhood",
                                width: 200,
                                title: "@T(Constants.Locales.Fields.NeighborhoodLabelName)"
                            },{
                                field: "AdministrativeAreaLevel2",
                                width: 200,
                                title: "@T(Constants.Locales.Fields.AdministrativeAreaLevel2LabelName)"
                            }, {
                                field: "AdministrativeAreaLevel1",
                                width: 100,
                                title: "@T(Constants.Locales.Fields.AdministrativeAreaLevel1LabelName)"
                            }, {
                                field: "DisplayOrder",
                                width: 100,
                                title: "@T(Constants.Locales.Fields.DisplayOrderLabelName)"
                            }, {
                                field: "Locality",
                                width: 100,
                                title: "@T(Constants.Locales.Fields.LocalityLabelName)"
                            }, {
                                field: "Country",
                                width: 100,
                                title: "@T(Constants.Locales.Fields.CountryLabelName)"
                            }, {
                                command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                                title: "@T("Admin.Common.Delete")",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                width: 100
                            }]
                        });
                    });
                </script>


                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>

            </div>

        </div>*@
    </div>
</form>