﻿@model Nop.Plugin.Widgets.SsmpNeighborhoodSelect.Models.PublicInfoModel
@using Nop.Plugin.Widgets.SsmpNeighborhoodSelect.Helper
@{
    Layout = "";

    Html.AddScriptParts(ResourceLocation.Head, "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=" + Model.GooglePlacesApiKey);
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.SsmpNeighborhoodSelect/Scripts/jquery.ssmpneighborhoodselect.js");
    
}

<input type="text" class="search-box-text" id="neighborhoodSearch" autocomplete="off" placeholder="@T(Constants.Locales.Labels.SearchByNeighborhoodTooltipName)" />

<script type="text/javascript" asp-location="Footer">
    $(window).on('load', function () {
        // set up autocomplete for the neighborhood search box based on google's
        // places autocomplete api. We do this by getting a handle to the neighborhood
        // search text box using its id
        const neighborhoodSearchTextbox = document.getElementById("neighborhoodSearch");
        // comma-separated list of country codes. The list of countries will typically
        // be retrieved from the data model attached to this view. We hard-code it for now.
        const countryCodesCommaSep = "ng";
        initGooglePlaces(countryCodesCommaSep, neighborhoodSearchTextbox);
    });
</script>